<link rel="stylesheet" href="/css/navbar.css">

<nav class="navbar navbar-inverse" role="navigation" id="navbar-div">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
							<span class="sr-only"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a id="navbarlogo" class="navbar-brand" href="/">
						<img id="netfilm" src="/uploads/logo.png" alt="NETFILM">
						</a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="top-navbar-1">
						<ul class="nav navbar-nav navbar-right">

							{{#if user.isAdmin}}
							{{else}}
							<li><form method="GET" action="/search/" class="form-inline md-form form-sm active-pink active-pink-2 mt-2" >
								<input id="searchbar" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Recherche" aria-label="Search" name="search"
								maxlength="15"></span>
								<button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button><span>

							</form>
							</li>
							{{/if}}

							<li><a href="/">Accueil</a></li>
							{{#if user}}
							<li><a href="/recommend/list">Mes recommandations</a></li>
							{{/if}}
							<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Catégories <span class="caret"></span>
							</a>
								<div id="dropdown-navbar" class="dropdown-menu" aria-labelledby="navbarDropdown">
								
								{{#each alltypes}}
								<a id="dropdown-navbar" class="dropdown-item" href="/typefilm/{{name}}">{{name}}</a>
								<div id="dropdown-divide" class="dropdown-divider"></div>
								{{/each}}
								</div>
							</li>


							{{#if user.isAdmin}}
							<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Gestion du site <span class="caret"></span>
							</a>
								<div id="dropdown-navbar" class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a id="dropdown-navbar" class="dropdown-item" href="/typefilm/newtypefilm">Ajouter un type</a>
								<div id="dropdown-divide" class="dropdown-divider"></div>
								<a id="dropdown-navbar" class="dropdown-item" href="/new">Ajouter un film</a>
								<div id="dropdown-divide" class="dropdown-divider"></div>
								<a style="font-size:12px" id="dropdown-navbar" class="dropdown-item" href="/adminsearch">Rechercher un film</a>
								<div id="dropdown-divide" class="dropdown-divider"></div>							
								</div>
							</li>	
							{{/if}}



							{{#if user}}
							<li><a id="myAccountBtn" class="btn btn-link-3" href="/user/profile" >Mon compte</a></li>
							<li><a id="LogoutBtn" href="/user/logout">Déconnexion</a></li>
							{{/if}}
                            {{#unless user}}




		


		<!-- Formulaire de connexion-->

							<li class="nav-item dropdown">
							<a class="btn btn-link-3 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Se Connecter <span class="caret"></span>
							</a>
								<div id="dropdown-login" class="dropdown-menu" aria-labelledby="navbarDropdown">
									<div id="container-login" class="container">
										<form method="POST" action="/user/login" >
												<div class="form-group">
														<label for="title">Pseudo</label>
														<input type="text" id="username" name="username" class="form-control" maxlength="20" required>
												</div>

												<div class="form-group">
														<label for="title">Mot de passe</label>
														<input type="password" id="password" name="password" class="form-control" autocomplete="off" required>
												</div>
												<hr>
												<input type="submit" class="btn btn-success" value="Se connecter">
										</form>
									</div>
								</div>
							</li>


					<!-- Formulaire d'inscription-->

						<li class="nav-item dropdown">
							<a class="btn btn-link-3 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							S'inscrire <span class="caret"></span>
							</a>
								<div id="dropdown-register" class="dropdown-menu" aria-labelledby="navbarDropdown">
									<div id="container-register" class="container">


										<form method="POST" action='/user/signup'  >
											<div class="form-group">
												<label for="title">Prénom</label>
												<input type="text" id="firstname" name="firstname" class="form-control" maxlength="20" required >
											</div>
											<div class="form-group">
													<label for="title">Nom</label>
													<input type="text" id="lastname" name="lastname" class="form-control" maxlength="20" required>
											</div>
											<div class="form-group">
													<label for="title">Date de Naissance</label>
													<input type="date" id="birthday" name="birthday" class="form-control" required>
											</div>
											<div class="form-group">
													<label for="title">Pseudo</label>
													<input type="text" id="username" name="username" class="form-control" maxlength="20" required>
											</div>
											<div class="form-group">
													<label for="title">Adresse Mail</label>
													<input type="text" id="mail" name="mail" class="form-control" required>
											</div>
											<div class="form-group">
													<label for="title">Mot de passe</label>
													<input type="password" id="password" name="password" class="form-control" autocomplete="off" required>
											</div>
											<div class="form-group">
													<label for="title">Confirmez votre mot de passe</label>
													<input type="password" id="password2" name="password2" class="form-control" autocomplete="off"  required>
											</div>   
											<hr>
											<input type="submit" class="btn btn-success" value="Créer mon compte">
									</form>


									</div>
								</div>
							</li>


							{{/unless}}
						</ul>
					</div>
				</div>
			</nav>
