<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="witdh=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <div class="text-center">
            <title> Bienvenue sur mon site</title>
        </div>
    </head>
    <body>
        <div class="container">
            <a href="/"><h1>Mes films</h1></a>
            {% block content %}{% endblock %}
        </div>
        <div class="text-center">
                <h6><small>Clément Temil</small></h6>
        </div>
        <hr>
        <a href="/user/signup" ><button type="button" class="btn btn-primary">Inscription</button></a>
        <a href="/user/login" ><button type="button" class="btn btn-primary">Login</button></a>
        {{user.name}}
        <a href="/user/logout" ><button type="button" class="btn btn-primary">Logout</button></a>
    </body>
</html>
