<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="witdh=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <div class="text-center">
            <title> Bienvenue sur mon site</title>
        </div>
    </head>
    <body>
        <div class="container">
            <a href="/"><h1>Mes films</h1></a>
            {% block content %}{% endblock %}
        </div>
        <div class="text-center">
                <h6><small>Clément Temil</small></h6>
        </div>
    </body>
</html>
