
<h2>Recherche de film :</h2>
    <hr>
    <div class="text-center">
         <table id="search-table" class="search-table table table-striped table-bordered">
        <thead>
            <tr>
                <th>Film</th>              
            </tr>
        </thead>
        <tbody>
            {{#each Allfilm}}
            <tr>
                <td> <a href="/details/{{_id}}">{{title}}</a></td>
            </tr>
            {{/each}}
        </tbody>
     </table>
    </div>
   




<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

 