.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.modal-dialog {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid white;
  border-radius: 0;
  box-shadow: none;
}

.modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  background: white;
  border: 0;
}

.modal-title {
  font-weight: 300;
  font-size: 2em;
  color: orange;
  line-height: 30px;
}

.modal-body {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%;
  font-weight: 300;
  overflow: auto;
}

.modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
  background: white;
}

#comment-table {
  text-align: left;
}


#grade-review {
  padding-left: 20px;
}

#delete-review {
  text-align: right;
}

#post-review-details {
  padding-top:10px;
}

#submit-review {
  margin-top:10px;
}

#post-grade {
  padding-left: 10px
}

#button-seen-text {
  margin-right:2px;
  width:100%
}

#button-seen {
  margin-left:2px;
}

#recommend-button {
  width:90%;
}

#button-admin-details{
  width:80%;
  margin:auto;
}

#not-connect {
  padding-top: 20px;
  padding-bottom: 20px;
}

#messageshow {
  padding-top: 10px;
}
#messagehide {
  padding-top: 10px;
}

#container-text-details {
  border-radius: 25px;
  border-style: double;
  border-color: white;
  width:100%;
  margin-top: 20px;
  margin-bottom: 35px;

}