#profile-container {
    margin:auto;
    padding-top: 50px;
    background-color: orange;
    color: white;
    width:70%;
    text-align:left;
}

#profile-header {
    border-radius: 25px;
    background-color: white;
    color: orange;
    text-align : center;
}

#table-profile {
    border-radius: 25px;
    background-color: white;
    color : orange
}