#profile-container {
    margin:auto;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom:50px;
    background-color: orange;
    color: white;
    width:70%;
    text-align:left;
}

#profile-header {
    padding:10px;
    border-radius: 25px;
    background-color: white;
    color: orange;
    text-align : center;
}

#table-profile {
    border-radius: 25px;
    background-color: white;
    color : orange
}

#table-text-left {
    padding-left: 5%;
}

#table-text-right {
    padding-right: 5%;
}