{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="col-sm-3">
        <img src="/uploads/{{film.picture}}" alt="/uploads/not_found.png" style="width:100%">
    </div>
    <div class="col-sm-9">
        <h2>{{ film.title }}</h2>
        <a href="/edit/{{film._id}}" class="btn btn-primary">Modifier</a>
        <a href="/delete/{{film._id}}" class="btn btn-danger">Supprimer</a>
        {% if (user) %}
        <a href="/review/post_review/{{film._id}}" class="btn btn-info">Poster un avis sur ce film</a>
        <a href="/grade/post_grade/{{film._id}}" class="btn btn-info">Poster une note sur ce film</a>
        <a href="/recommend/recommend/{{film._id}}" class="btn btn-info">Recommender ce film</a>
        <form id="Seen" action = "/seen/seen/{{film._id}}" method = "post">
                <input type="submit" class="btn btn-info" value="Tu l'as vu ?">
            <form>

        {% endif %}
        <hr>
        <p class="lead">
            {{ film.description}}
        </p>
        <h3>Type : </h3>
        {% for t in film.typeFilm %}
        <a href="/typefilm/{{ t.name }}"><h2>{{ t.name }}</h2></a>
        {% endfor %}
    </div>
</div>

{% endblock %} 

<script>
    var ele="#Seen";
      ele.addEventListener("submit", callback, false);
document.querySelector("#Seen").addEventListener("submit", function(e){
    if(!doValidation()){
        e.preventDefault();    //stop form from submitting
        alert("Not valid!");
    }
});
function doValidation(){
    var isValid = false;
    //do your validation
    isValid = /^\d{3}$/.test(document.querySelector("#text1").value);
    return isValid;
}

</script>

