{% extends "layout.html" %}
{% block content %}

{% for e in errors %}
<div class="alert alert-danger" role="alert">
       {{e.msg}}
</div>
{% endfor %}


<h2>Bienvenue dans le formulaire de post de note : </h2>

<form method="POST" action='/grade/post_grade/{{ filmid }}'  >
    <div class="form-group">
        <label for="grade">Example multiple select</label>
        <select multiple class="form-control" id="grade" name="grade">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    <hr>
    <input type="submit" class="btn btn-success" value="Save">
</form>


{% endblock %} 