

   <link rel="stylesheet" href="/css/film.css">

    <h2>Films de type : {{typefilm}}</h2>
    <hr>
    <div class="container">
    
            {{#each film }}
                      
               
               

               <div class="movie-card-1" id="movies-homepage">
	<a href="/details/{{_id}}"><div style="background-image: url('/uploads/{{picture}}')" class="movie-header-1" id="movie-picture">
	</div>
    </a>
	<div class="movie-content-1">
		<div class="movie-content-header-1">
			<a href="#">
				<h3 class="movie-title-1">{{title}}</h3>
			</a>
		</div>
		
	</div>
</div>
               
            {{/each}}
       
    </div> 
    
    <script src="/js/jquery-1.11.1.min.js"></script>



