

   <link rel="stylesheet" href="/css/film.css">

    <h2>Films de type : {{typefilm}}</h2>
    <a href="/new"><h6>Ajouter un film :</h6></a>
    <hr>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">col1</th>
                <th scope="col">col2</th>
                <th scope="col">col3</th>
                </tr>
            </thead>
            <tbody>
            {{#each film }}
                      
               
               

               <div class="movie-card-1" id="movies-homepage">
	<a href="/details/{{_id}}"><div style="background-image: url('/uploads/{{picture}}')" class="movie-header-1" id="movie-picture">
	</div>
    </a>
	<div class="movie-content-1">
		<div class="movie-content-header-1">
			<a href="#">
				<h3 class="movie-title-1">{{title}}</h3>
			</a>
		</div>
		
	</div>
</div>
               
            {{/each}}
            </tbody>
        </table>
    </div> 
    
    <script src="/js/jquery-1.11.1.min.js"></script>



