<h2>Bienvenue d'ajout de type : </h2>

<form method="POST" action='/typefilm/newtypefilm'>
    <div class="form-group">
        <label for="name">Nom du type :</label>
        <input type="text" id="name" name="name" class="form-control">
    </div>
    <hr>
    <input type="submit" class="btn btn-success" value="Enregistrer">
</form>